<app-navbar></app-navbar>

<div class="text-center">
    <h1 class="text-3xl font-bold text-gray-800 sm:text-5xl dark:text-white">
      Developer Edition
    </h1>
  
  </div>

  <div class="flex flex-wrap justify-center p-9">
   
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
      <a href="https://wa.me/9819441877">
        <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (1).png" alt="description" />
      </a>
      <div class="px-5 pb-5">
        <a href="https://wa.me/9819441877">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG01</h5>
        </a>
        <div class="flex mt-2 float-end mb-3">
          <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
        </div>
      </div>
    </div>
    
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (2).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG02</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>

      
      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (3).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG03</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>

      
      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (4).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG04</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   
      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (5).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG05</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (6).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG06</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (7).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG07</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   
      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (8).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG08</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (9).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG09</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
   

      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
        <a href="https://wa.me/9819441877">
          <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (10).png" alt="description" />
        </a>
        <div class="px-5 pb-5">
          <a href="https://wa.me/9819441877">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG10</h5>
          </a>
          <div class="flex mt-2 float-end mb-3">
            <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
          </div>
        </div>
      </div>
  

   <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (11).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG11</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (12).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG12</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (13).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG13</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (14).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG14</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (15).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG15</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (16).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG16</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (17).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG17</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (18).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG18</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (19).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG19</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (20).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG20</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>



  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (21).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG21</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (22).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG22</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (23).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG23</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (24).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG24</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (25).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG25</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>


  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (26).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG26</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (27).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG27</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (28).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG28</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (29).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG29</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="https://wa.me/9819441877">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../assets/commercialdoor (30).png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a href="https://wa.me/9819441877">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">344D15DEG30</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="https://wa.me/9819441877" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>






 
  
   <!--  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
      <a>
        <img class="p-8 rounded-t-lg" src="../../../assets/" alt="description" />
      </a>
      <div class="px-5 pb-5">
        <a [routerLink]="['/AccessoriesProduct']">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Sal Wood</h5>
        </a>
        <div class="flex mt-2 float-end mb-3">
          <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
        </div>
      </div>
    </div>
  
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
      <a>
        <img class="p-8 rounded-t-lg" src="path-to-image" alt="description" />
      </a>
      <div class="px-5 pb-5">
        <a [routerLink]="['/AccessoriesProduct']">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Ivory Teak Wood</h5>
        </a>
        <div class="flex mt-2 float-end mb-3">
          <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
        </div>
      </div>
    </div>
   -->
  
    
  </div>
  

   

<app-footer></app-footer>
