<app-navbar></app-navbar>

<!-- Main Content Section -->
<div class="bg-white text-gray-800">
  <div class="flex items-center justify-center">
    <img src="../../../assets/doorInstallation.jpg" alt="doorInstallation" class="mb-8 w-1/2"> <!-- Adjust width to 50% -->
  </div>
  
  <!-- Introduction Section -->
  <section class="p-4 md:p-8">
    <p class="mb-4 text-base md:text-lg leading-relaxed">
     This document provides guidelines for fire door installation, emphasizing the importance of qualified installers, pre-installation preparation, site reception, hardware fitting, glazing, and the overall installation process
   
  </section>
  
  <!-- Section 1: Handover -->
  <section class="p-4 md:p-8">
    <h1 class="text-xl md:text-2xl font-bold mb-4">1 Installer qualifications</h1>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        It is strongly recommended that the installer is a member of a
        recognised quality assurance scheme to ensure that best practice
        is used.
        In respect of fire doors, inspection authorities may require evidence
        that the installation process complies with the tested specification
        including:
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
     - Intumescent systems.
     </p>
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - Compliance of the glazing with the tested detail supplied by the
        door leaf manufacturer.
        </p>
        
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - The size of all operating gaps.
        </p>
        
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - Intumescent protection around hardware and the quality of the
        preparations.
        </p>
      <p class="mb-4 text-base md:text-lg leading-relaxed">
            - The quality of the supporting construction and the prepared
            opening.
      </p>
            
       <p class="mb-4 text-base md:text-lg leading-relaxed">
          - The fixing of the fire door.
       </p>    
        <p class="mb-4 text-base md:text-lg leading-relaxed">
           - Fire and smokestopping methods used in fitting-in gaps and voids.
        </p>     
  </section>



  <section class="p-4 md:p-8">
    <h1 class="text-xl md:text-2xl font-bold mb-4">2 Pre-installation preparation</h1>
    <h1 class="text-xl md:text-xl font-bold mb-4">2.1 First- or second-fix</h1>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        Best practice is a second-fix operation with openings prepared as
        construction proceeds and pre-hung door assemblies installed
        later. The advantages are:
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
     - Operating gaps (which may contain edge seals) can be maintained.
     </p>
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - Doors are delivered when site conditions are suitable.<br>
        Using the ‘first-fix’ method, doorframes are built in during
        construction and door leaves are fitted later. This can be
        unsatisfactory because:
        </p>
        
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - Construction operations and wet trades can damage finishes and
        cause distortion and/or swelling. The cost of remedial work and
        protection can be high.
        </p>
        
     <p class="mb-4 text-base md:text-lg leading-relaxed">
        - Door leaves may have to be tailored to each opening.
        </p>
        <h1 class="text-xl md:text-xl font-bold mb-4">Doorframe design</h1>
        <p class="mb-4 text-base md:text-lg leading-relaxed">
            - The doorframe design must allow for secure fixing.<br>
            Note: 1. Fixing within 25 mm from the edge of masonry (excluding
            any plaster) should not be attempted .<br>
            2. Fixings into metal stud partitions should be made into a fulllength
            timber filler in the stud.
            Make fixings to each jamb spaced 100 mm from top and bottom
            with others a maximum of 500 mm apart. (A centre fixing through
            the head is sometimes used when deflection is not a risk.)
     </p>
     <img src="../../../assets/doorframe.jpg" alt="doorframe" class="mb-8 block mx-auto">
     
     <h1 class="text-xl md:text-xl font-bold mb-4">2.3 FCo-ordinating dimensions</h1>
     <p class="mb-4 text-base md:text-lg leading-relaxed"> 
     The co-ordinating height, width and thickness of prepared openings,
     the fitting-in margin and allowed tolerances must be planned. This
     information must be available before the start of door manufacture.
     </p>

     <h1 class="text-xl md:text-xl font-bold mb-4">2.3.1 Prepared openings</h1>
     <p class="mb-4 text-base md:text-lg leading-relaxed"> 
      Prepared openings must be plumb, square, built to the coordinating
      dimensions subject to a tolerance of +5/-0 mm at each
      jamb and +5/-0 mm at the head and be of constant co-ordinating
      thickness around their perimeter within a tolerance of +/- 3 mm. It
      is vital to control partition thickness if architraves are to be fitted
      without excessive trimming and scribing.
     </p>
     <p class="mb-4 text-base md:text-lg leading-relaxed"> 
      Check accuracy of prepared openings as early as possible so that
      any remedial work can be completed before any attempt is made
      to install doors.
     </p>
     <h1 class="text-xl md:text-xl font-bold mb-4">2.3.2 Doorframe size and fitting-in margin</h1>
     <p class="mb-4 text-base md:text-lg leading-relaxed"> 
      The overall doorframe dimensions should be the co-ordinating
      height and width -5 mm (+/-2) on each jamb and -7 mm (+/-2) at
      the head to allow doorframes to be packed up a few millimetres if
      necessary for the door leaf to swing over high spots or floor
      coverings.
     </p>
     <img src="../../../assets/Door Frame Size.jpg" alt="Door Frame Size" class="mb-8 block mx-auto">
     <h1 class="text-xl md:text-xl font-bold mb-4">2.4 Recesses for floor mounted closer boxes</h1>
     <p class="mb-4 text-base md:text-lg leading-relaxed"> 
      -Plan pockets to receive closer boxes in reinforcement, floors and
screeds. The pockets must be formed and located with great
accuracy to co-ordinate with the doorframe position.
     </p>
  </section>


  <section class="p-4 md:p-8">
   <h1 class="text-xl md:text-2xl font-bold mb-4">3 Site reception </h1>
   <h1 class="text-xl md:text-xl font-bold mb-4">3.1 Moisture content</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Timber doors are manufactured with moisture content of 10 - 12%
      for internal use and 12 - 14 % for external use. The applicable
      standard on this subject is BS EN 942:1996 Timber in joinery.
      General classification of timber quality.
   </p>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
     - Do not bring joinery to site until moisture readings are between 40
      and 60% RH and until after any forced-drying procedure has been
      completed.
   </p>
   <h1 class="text-xl md:text-xl font-bold mb-4">3.2 Storage area</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      <p class="mb-4 text-base md:text-lg leading-relaxed">
        - The store must be clean, level, suitable for stacking doors and
         provide sufficient space for doors to be moved around, sorted and
         re-stacked as installation proceeds. The floor should be suitable to
         allow the use of pallet moving equipment.
      </p>
      <h1 class="text-xl md:text-xl font-bold mb-4">3.3 Priming and sealing</h1>
      <p class="mb-4 text-base md:text-lg leading-relaxed">
         - The applicable British Standard is BS 6150: 1991 Code of practice
         for painting of buildings.
       </p>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         - Prime or seal all items supplied in the white
         immediately following delivery including top
         and bottom edges, apertures and
         preparations for hardware .
       </p>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         - Apply further coats within a reasonable time
         and before door leaves are hung or
         assemblies are installed.
       </p>
       <img src="../../../assets/Door Sealing.jpg" alt="Door Sealing" class="mb-8 block mx-auto">
       <h1 class="text-xl md:text-xl font-bold mb-4"> 3.4 Handling</h1>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Avoid bruising and damage caused by heavy
         contact with the ground. Wear clean gloves
         to avoid leaving finger marks.
       </p>
       <h1 class="text-xl md:text-xl font-bold mb-4">3.5 Stacking</h1>
       <h1 class="text-xl md:text-xl font-bold mb-4">3.5.1 Door leaves</h1>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Do not store door leaves standing upright or
         leaning as this causes bowing.
       </p>
       <img src="../../../assets/doorstack.png" alt="doorstack" class="mb-8 block mx-auto">
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Stack horizontally on level supports that extend across the full
         width of the bottom door leaf. Provide support at the centre and at
         300 mm from each end. If over 2150 in height, provide a second
         intermediate support.
       </p>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Cover the supports with cardboard or similar to prevent marking.
       </p>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Stack with the largest door leaf at the bottom with size reducing up
         the stack. Plain flush door leaves can be stacked to a maximum of
         around 20 door leaves. When door leaves have projections such as
         glazing beads or pre-fitted hardware, provide level intermediate
         battens between door leaves to allow clearance
       </p>
       <h1 class="text-xl md:text-xl font-bold mb-4">3.5.2 Assemblies</h1>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         The same principles apply when storing door assemblies.
         Stack with the door leaf lying in the closed position on the
         doorframe doorstop. Separate each assembly with level battens to
         ensure that projections such as hinge knuckles do not cause
         damage.
       </p>
       <h1 class="text-xl md:text-xl font-bold mb-4"> 3.5.3 Covering</h1>
       <p class="mb-4 text-base md:text-lg leading-relaxed">
         Exposure to light will fade timber
         Cover stacks with opaque sheeting to prevent fading and keep
         doors clean. This is very important for veneered doors.
       </p>
 </section>

 <section class="p-4 md:p-8">
   <h1 class="text-xl md:text-2xl font-bold mb-4">4 Hardware</h1>
   <h1 class="text-xl md:text-xl font-bold mb-4"> 4.1 Preparation for hardware</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Before installation, prepare doors to receive hardware using
      instructions provided by the hardware manufacturer or supplier.
      Note: Preparations are often available from the door manufacturer.
      These may be supplied ‘off machine’ i.e. with corners not squared
      out. Factory assembled doors can be made available fully prepared
      for hardware with door leaves hung in position though possibly
      removed for transit
   </p>
   <h1 class="text-xl md:text-xl font-bold mb-4"> 4.2 Fitting hardware</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fit hardware using instructions provided by the hardware
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fit morticed hardware before hanging door leaves or installing door
      assemblies.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fit intumescent materials exactly in accordance with details
      supplied.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fit face fixed hardware at any convenient stage in the installation
      programme.
      Note: This work is often done immediately prior to handover to
      avoid the risk of loss or damage. The drilling of door leaf faces for
      latch spindles and keyways or cylinders is best left until there is no
      risk of further adjustment to the position of lock cases or keeps.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Lubricate hardware as required by manufacturer’s instructions.
   </p>
 </section>

 <section class="p-4 md:p-8">
   <h1 class="text-xl md:text-2xl font-bold mb-4">5 Glazing</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      The applicable standard is BS 6262: 1982 Code of practice for
      glazing of buildings.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Glaze fire doors strictly in accordance with a specification for each
      type provided by the supplier and supported by evidence of test or
      assessment by a recognised authority.
   </p>
 </section>

 <section class="p-4 md:p-8">
   <h1 class="text-xl md:text-2xl font-bold mb-4">6 Door installation</h1>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Install doors only when site conditions are suitable.<br>
      Note: Operating gaps around door leaves will vary between 2 and
      5 mm. Any movement of the structure after doors are installed will
      definitely affect these margins and cause malfunction. Movement
      results from: <br>- Shrinkage due to drying out.<br>- Growth due to increase in moisture.<br>- Deflection of structural members.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Glaze fire doors strictly in accordance with a specification for each
      type provided by the supplier and supported by evidence of test or
      assessment by a recognised authority.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Defer installation if conditions are unsuitable.
   </p>

   <h1 class="text-xl md:text-xl font-bold mb-4"> 6.1 Hanging door leaves</h1>

   <h1 class="text-xl md:text-xl font-bold mb-4"> 6.1.1Trimming edges</h1>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
      When it is necessary to trim door leaves, remove equal amounts
      from each vertical edge and make all height adjustment to the
      bottom of the door leaf.
   </p>
   <img src="../../../assets/dooredges.png" alt="dooredges" class="mb-8 block mx-auto">

   <h1 class="text-xl md:text-xl font-bold mb-4"> 6.1.2 Hinges</h1>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Hinges must be able to support loads imposed by the door leaf
      and hardware functions such as self-closing and back check.
      Consult the hardware supplier if necessary.
   </p>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Use 3 hinges per door leaf for all fire doors or when above 1200
      mm in height unless otherwise specified.
   </p>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
      When door leaves exceed 2250 mm in height or 160 kg, consult
      the hardware supplier. One or more additional hinges may be
      required.
   </p>
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Note: The recommended position of hinges is: centre line of the
      top and bottom hinge 250 mm from the top and bottom of the
      door leaf with third hinge centre line 200 mm below the top hinge
   </p>

   <h1 class="text-xl md:text-xl font-bold mb-4">6.2 Installing second-fix</h1>
   <h1 class="text-xl md:text-xl font-bold mb-4">6.2.1 Packing</h1>  

   <p class="mb-4 text-base md:text-lg leading-relaxed">
     Pack between the doorframe and the prepared opening
      immediately above each fixing position. Ensure that the door
      assembly when in position is perfectly plumb and square. The best
      practice is to use the hung leaf as a template. Avoid later shrinkage
      by using packing that is durable, hard and stable. Proprietary
      trouser leg packers are best. Alternatives are offcuts of laminate,
      metal shims or plywood.
   </p>

   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Ensure that jambs are straight, operating gaps are even and in
      tolerance and that fixing screws cannot distort the frame when
      tightened.  
    </p>

    <h1 class="text-xl md:text-xl font-bold mb-4">6.2.1 Packing</h1>  
    <img src="../../../assets/door leg packer.png" alt="leg packer" class="mb-8 block mx-auto">

    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Note: The lateral force at the bottom hinge position can compress
 packings and metal studs causing the leading edge to drop. Before
 installing, ensure that studs are secure and fillings are dry.
    </p>

    <h1 class="text-xl md:text-xl font-bold mb-4"> 6.2.2 Fixing</h1>  

    <p class="mb-4 text-base md:text-lg leading-relaxed">
      When the doorframe has been packed into the prepared opening,
      remove door leaves if necessary to facilitate fixing.
    </p>

    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fix doorframes in masonry in conjunction with plugs and
      woodscrews with minimum 50 mm penetration into the masonry.
    </p>
    
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fix doorframes in metal stud partitions with wood screws having
      drilled a pilot hole through the stud into the timber stud filler.
      Ensure that the doorframe fixing pulls the timber filling tightly into
      the stud and pulls the stud up tight against the packing.
    </p>

    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Re-hang door leaves. Check
      and adjust for correct gaps and
      operation of seals. Compression
      seals should be 50%
      compressed along their entire
      length. Blade and brush contact
      seals should overlap the
      opposing face by 1.0 - 1.5 mm.
      Note: Adjustment to the fit of
      door leaves at the installation
      stage should be deferred until
      the site is completely dry when
      the defect will be fully apparent
      and can be remedied in a single operation:- Adjustments made too early can result in excessive gaps as the
      building dries.- If possible, carry out adjustments by reducing or increasing
      packing. Alternatively, pack out behind hinges or recess them
      further.- Only as a last resort should door leaf edges be trimmed; this may
      necessitate replacement of seals and repositioning of hardware
      affecting the quality and integrity of the door
    </p>

    <p class="mb-4 text-base md:text-lg leading-relaxed">
      When the doorframe has been packed into the prepared opening,
      remove door leaves if necessary to facilitate fixing.
    </p>
    <h1 class="text-xl md:text-xl font-bold mb-4"> 6.2.3 Doorstops</h1>    
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fix loose doorstops after all adjustments. Fit to suit the shape of
      the door leaf, permit an easy latching action and ensure any seals
      are in correct contact with the door leaf face
    </p>

    <h1 class="text-xl md:text-xl font-bold mb-4">6.2.4 Stopping the fitting-in gap</h1>    
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fill the fitting-in gap to suit fire, smoke or acoustic requirements
      before fitting architraves or installing the second half of split frames
      with integral architraves. Architraves alone may firestop gaps of
      FD30 doors but will not prevent leakage of cold smoke
    </p>
   
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fill the fitting-in gap to suit fire, smoke or acoustic requirements
      before fitting architraves or installing the second half of split frames
      with integral architraves. Architraves alone may firestop gaps of
      FD30 doors but will not prevent leakage of cold smoke
    </p>  

    <img src="../../../assets/doorfittinggap.png" alt="ldoorfittinggap" class="mb-8 block mx-auto">
    
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Note: 1. To prevent cold smoke leakage the filler must completely
      close the gap and have some flexibility.<br>
      2. When the fitting-in gap is constant and does not exceed 10 mm
      the options include:- Gun-applied intumescent mastic suitable for both fire and
      smokestopping.- Intumescent strips (with conventional mastic for smoke).<br>
      3. Large or irregular gaps and voids can be filled with cementitious
      material, packed with mineral wool or sealed with intumescent
      material. The intumescent options for gaps up to 35 mm that can
      accommodate some movement and close voids in the case of fire
      are intumescent plasters, acrylic emulsions and dry foams.
    </p>  
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Fix architraves only when any required stopping is complete.
   </p>  

   <h1 class="text-xl md:text-xl font-bold mb-4"> 6.2.5 Concealment of fixings</h1>   
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Dress exposed fixings of doorframes, doorstops and architraves as
      specified.
      Note: 1. This operation and the final fitting of architraves should be
      left until all adjustments to gaps and door leaf operation have been
      made.
      2. Screws are normally concealed with timber or plastic pellets.
      Pins are punched and filled with hard beeswax coloured to match
   </p>   
   <p class="mb-4 text-base md:text-lg leading-relaxed">
      Remove all dust, clean the installed door and make good any
      damage to finishes according to instructions provided by the
      manufacturer
   </p>   
 </section>
<app-footer></app-footer>
