<app-navbar></app-navbar>

<div class="flex flex-col items-center justify-center pt-0 pb-4 min-h-screen md:px-20">
    <div class="flex items-center justify-center">
        <img src="../../assets/door revolution.png" alt="safety doors" class="mb-8">
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
     <span class="underline underline-offset-3 decoration-8 decoration-yellow-500 dark:decoration-yellow-600 ">The History of Doors</span>:Evolution from Ancient Times to Modern Day
    </h1>
    <p class="text-2xl font-normal text-gray-800 lg:text-3xl dark:text-gray-400 text-left px-10 pt-10 ">
        Doors are an integral part of our daily lives, providing security, privacy, and a means of entry and exit. However, doors also have a rich history that spans millennia. Let's explore the fascinating evolution of doors from ancient times to the present day.
    </p>

    <div class="flex flex-col p-10">  
        <h1 class="text-6xl pb-8  font-extrabold dark:text-white">Ancient Times</h1>      
        <h1 class="text-4xl font-extrabold dark:text-white pb-2">Early Beginnings</h1>   
        <div class="flex justify-center mb-4">
            <img src="../../assets/Early Beginnings.png" alt="Early Beginnings" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The earliest doors were simple barriers made from materials readily available in nature. Primitive humans likely used large stones, animal hides, and wooden planks to cover the entrances to their dwellings</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Egypt and Mesopotamia</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Ancient Egyptian  door.png" alt="Ancient Egyptian  door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">In ancient Egypt and Mesopotamia, doors began to take on more complex forms. Egyptian tombs and temples featured intricately carved wooden doors, often adorned with religious symbols and hieroglyphics. These doors were designed not only for function but also as a means of displaying wealth and status.
        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Greece and Rome</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Roman door with detailed carvings and metalwork.png" alt="Ancient Egyptian  door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The Greeks and Romans advanced door technology by introducing metal hinges and locks. Roman doors, especially those in public buildings and villas, were often grand, featuring elaborate carvings and metalwork. These doors were a testament to the engineering prowess and artistic sensibilities of the time.

        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Greece and Rome</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Roman door with detailed carvings and metalwork.png" alt="Ancient Egyptian  door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The Greeks and Romans advanced door technology by introducing metal hinges and locks. Roman doors, especially those in public buildings and villas, were often grand, featuring elaborate carvings and metalwork. These doors were a testament to the engineering prowess and artistic sensibilities of the time.

        </p>
    </div>
    <div class="flex flex-col p-10">  
        <h1 class="text-6xl pb-8  font-extrabold dark:text-white">Mediaeval Period</h1>      
        <h1 class="text-4xl font-extrabold dark:text-white pb-2">Fortified Doors
        </h1>   
        <div class="flex justify-center mb-4">
            <img src="../../assets/castle door.png" alt="castle door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">During the mediaeval period, security became paramount. Castles and fortresses featured heavy wooden doors reinforced with iron. These doors were designed to withstand sieges and attacks, often equipped with intricate locking mechanisms and portcullises.

        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Religious Influence</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/chruch door.png" alt="chruch door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">Churches and cathedrals of the mediaeval period had some of the most beautiful and intricate doors. Gothic architecture, in particular, is known for its grand, ornate doors, often featuring biblical scenes and intricate ironwork.

        </p>
    </div>
    <div class="flex flex-col p-10">  
        <h1 class="text-6xl pb-8  font-extrabold dark:text-white">Renaissance to 19th Century</h1>      
        <h1 class="text-4xl font-extrabold dark:text-white pb-2">Artistic Flourish
        </h1>   
        <div class="flex justify-center mb-4">
            <img src="../../assets/cathedral door.png" alt="cathedral door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The Renaissance period brought a renewed interest in art and culture, which extended to door design. Doors became canvases for artistic expression, with elaborate carvings, inlays, and paintings. This period saw the rise of beautifully crafted wooden doors in homes and public buildings alike.
        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Industrial Revolution</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Victorian-era door.png" alt="Victorian-era door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The 19th century, marked by the Industrial Revolution, brought about significant changes in door manufacturing. Mass production techniques allowed for greater consistency and affordability. Victorian-era doors often featured stained glass panels and decorative elements, reflecting the eclectic tastes of the time.
        </p>
    </div>
    <div class="flex flex-col p-10">  
        <h1 class="text-6xl pb-8  font-extrabold dark:text-white">20th Century to Present Day</h1>      
        <h1 class="text-4xl font-extrabold dark:text-white pb-2">Modernism
        </h1>   
        <div class="flex justify-center mb-4">
            <img src="../../assets/Modernism.png" alt="Modernism door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">The 20th century saw the rise of modernism, which emphasised simplicity and functionality. Doors became more streamlined, with clean lines and minimal ornamentation. New materials like steel, aluminum, and fibreglass began to be used, offering greater durability and design flexibility.

        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Technological Advances</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Smart door.png" alt="Smart door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">In recent decades, technology has revolutionised door design. Smart doors equipped with keypads, biometric scanners, and cameras are becoming increasingly common. These doors offer enhanced security and convenience, allowing homeowners to control access remotely via smartphones.

        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Sustainable Design</h1> 
        <div class="flex justify-center mb-4">
            <img src="../../assets/Eco-friendly door.png" alt="Eco-friendly door" class="w-screen h-auto object-cover rounded md:px-96 py-6"/>
        </div>  
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400"> As sustainability becomes a priority, eco-friendly doors made from recycled and sustainable materials are gaining popularity. These doors not only reduce environmental impact but also often feature innovative designs and craftsmanship.
        </p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">Conclusion</h1> 
        <p class="mb-3 text-2xl text-gray-800 dark:text-gray-400">From simple barriers to technologically advanced entryways, doors have come a long way throughout history. They reflect the technological, artistic, and cultural advancements of their times. As we move forward, doors will continue to evolve, incorporating new technologies and materials to meet the needs of modern life.
        </p>
    </div>
    

</div>
<app-footer></app-footer>