<app-navbar></app-navbar>

<div class="text-center">
  <h1 class="text-3xl font-bold text-gray-800 sm:text-5xl dark:text-white">
    Door Frame
  </h1>

</div>


<div class="flex flex-wrap justify-center p-9">
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/TeakWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/TEAK WOOD.png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/TeakWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Sagwan Teakwood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/CedarWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/DEODAR.png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/CedarWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white ">Deodar Wood-Cedar Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/RoseWood']"> 
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/SHEESHAM.png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/RoseWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Sheesam Wood - Rose Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/PineWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/PINE.png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/PineWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Pine Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>
  
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/MerantiWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/MERANTI.png" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/MerantiWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Meranti Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/SalWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/sal.jpg" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/SalWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Sal Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>
  
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/IvoryTeakWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/ivory.jpg" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/IvoryTeakWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Ivory Teak Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/NagpurWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/nagpurwood.jpg" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/NagpurWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Nagpur Teak Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>
  
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a [routerLink]="['/ChapWood']">
      <img class="p-8 rounded-t-lg hover:scale-105 transition" src="../../../assets/chaapwood.jpg" alt="description" />
    </a>
    <div class="px-5 pb-5">
      <a [routerLink]="['/ChapWood']">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Chaap Wood</h5>
      </a>
      <div class="flex mt-2 float-end mb-3">
        <a href="" class="text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Quote</a>
      </div>
    </div>
  </div>

  
</div>



<app-footer></app-footer>