<footer class="bg-white dark:bg-gray-900 "  >
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="#" class="flex items-center">
                  <img src="../../assets/Samurai Doors footer.png" class="h-52 me-6 " alt="doors Logo" />            
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-8 sm:grid-cols-3 ml-4">
              <div>
                <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                    <span class="border-b border-gray-900 dark:border-white w-1/2">Quick Links</span>
                </h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://flowbite.com/" class="hover:pl-2 hover:transition duration-300 ease-out">Main Doors</a>
                      </li>
                      <li class="mb-4">
                        <a href="https://flowbite.com/" class="hover:pl-2 hover:transition duration-300 ease-out">Bedroom Doors</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com/" class="hover:pl-2 hover:transition duration-300 ease-out">Bathroom Doors</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com/" class="hover:pl-2 hover:transition duration-300 ease-out">Accessories</a>
                    </li>
                     
                  </ul>
              </div>
              <div>
                <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                    <span class="border-b border-gray-900 dark:border-white w-1/2 h-2">Follow  Us</span>
                </h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/themesberg/flowbite" class="hover:pl-2 hover:transition duration-300 ease-out">Facebook</a>
                      </li>
                      <li class="mb-4">
                          <a href="https://discord.gg/4eeurUVvTy" class="hover:pl-2 hover:transition duration-300 ease-out">Instagram</a>
                      </li>
                      <li class="mb-4">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:pl-2 hover:transition duration-300 ease-out">linkedin</a>
                      </li>
                      <li class="mb-4">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:pl-2 hover:transition duration-300 ease-out">Twitter</a>
                      </li>
                  </ul>
              </div>
              <div class="w-80 ml-0">
                <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                    <span class="border-b border-gray-900 dark:border-white w-1/2">Contact Us</span>
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <h6 class="text-lg font-medium text-black">Address</h6>
                        <a href="#">
                            <span class="hover:pl-2 hover:transition duration-300 ease-out block">Space Interior Management and Solution 3rd Floor, Plot 4, Office No. 9, K. K. Chambers, Purshotamdas Thakurdas Road, Near Siddharth College, Fort, Mumbai, Mumbai City - 400001</span>
                        </a>
                    </li>                                      
                    <li class="mb-4">
                        <h6 class="text-lg font-medium dark:text-white  text-black">Pan India No</h6>
                        <a href="#">
                            <span class="hover:pl-2 hover:transition duration-300 ease-out block">
                                +91 9819600149</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <h6 class="text-lg font-medium dark:text-white  text-black">Email ID</h6>
                        <a href="#">
                            <a class="hover:pl-2 hover:transition duration-300 ease-out inline-block">spaceinteriormanagement&#64;gmail.com</a>
                        </a>
                    </li>
                    
                </ul>
            </div>
            
              
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline"> Space Age Networks</a>.All Rights Reserved 
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <a href="https://wa.me/your-phone-number">
                    <img class="w-8 h-8" src="https://img.icons8.com/color/96/facebook-new.png" alt="facebook-new"/>
                </a>
                  <span class="sr-only">Facebook page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <img  class="w-8 h-8" src="https://img.icons8.com/fluency/96/instagram-new.png" alt="instagram-new"/>
                  <span class="sr-only">Instagram page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <img class="w-8 h-8" src="https://img.icons8.com/color/96/linkedin.png" alt="linkedin"/>
                  <span class="sr-only">linkedin page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <img class="w-8 h-8" src="https://img.icons8.com/material-outlined/96/twitterx--v2.png" alt="twitterx--v2"/> 
                  <span class="sr-only">Twitter page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <img class="w-8 h-8" src="https://img.icons8.com/color/96/whatsapp--v1.png" alt="whatsapp--v1"/>
              </a>
          </div>
      </div>
    </div>
</footer>

