<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a routerLink="/" class="flex items-center">
                    <img src="../../assets/Samurai Doors footer.png" class="h-52 me-6" alt="doors Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-8 sm:grid-cols-3 ml-4">
                <div>
                    <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                        <span class="border-b border-gray-900 dark:border-white w-1/2">Quick Links</span>
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a routerLink="/maindoors" routerLinkActive="active" (click)="reloadPageAfterInterval(100)" class="hover:pl-2 hover:transition duration-300 ease-out">Main Doors</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/bedroomdoors" routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="hover:pl-2 hover:transition duration-300 ease-out">Bedroom Doors</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/bathroomdoors" routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="hover:pl-2 hover:transition duration-300 ease-out">Bathroom Doors</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/DoorFrame" routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="hover:pl-2 hover:transition duration-300 ease-out">Door Frame</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/DeveloperEdition" routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="hover:pl-2 hover:transition duration-300 ease-out">Developer Edition</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/accessories" routerLinkActive="active" (click)="reloadPageAfterInterval(100)" class="hover:pl-2 hover:transition duration-300 ease-out">Accessories</a>
                        </li>
                        <li class="mb-4">
                            <a routerLink="/blogs" routerLinkActive="active" (click)="reloadPageAfterInterval(100)" class="hover:pl-2 hover:transition duration-300 ease-out">Blogs</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                        <span class="border-b border-gray-900 dark:border-white w-1/2 h-2">Follow  Us</span>
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://www.facebook.com/profile.php?id=61558450780755" class="hover:pl-2 hover:transition duration-300 ease-out">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.instagram.com/samurai_doors_/?hl=en" class="hover:pl-2 hover:transition duration-300 ease-out">Instagram</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.linkedin.com/company/samurai-doors" class="hover:pl-2 hover:transition duration-300 ease-out">LinkedIn</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://x.com/samuraidoors" class="hover:pl-2 hover:transition duration-300 ease-out">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="w-80 ml-0">
                    <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-white">
                        <span class="border-b border-gray-900 dark:border-white w-1/2">Contact Us</span>
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <h6 class="text-lg font-medium text-black">Address</h6>
                            <a href="https://www.google.com/maps/place/K+k+chambers/@18.9356455,72.8329533,18.54z/data=!4m6!3m5!1s0x3be7d1fc13edeb7f:0x46ca174cd185d897!8m2!3d18.935806!4d72.8332233!16s%2Fg%2F11jwg80_j1?hl=en&entry=ttu">
                                <span class="hover:pl-2 hover:transition duration-300 ease-out block">Samurai Doors, 3rd Floor, Plot 4, Office No. 9, K. K. Chambers, Purshotamdas Thakurdas Road, Near Siddharth College, Fort, Mumbai - 400001</span>
                            </a>
                        </li>
                        <li class="mb-4">
                            <h6 class="text-lg font-medium dark:text-white  text-black">Pan India No</h6>
                            <a href="tel:+919819441877">
                                <span class="hover:pl-2 hover:transition duration-300 ease-out block">+91 9819441877</span>
                            </a>
                        </li>
                        <li class="mb-4">
                            <h6 class="text-lg font-medium dark:text-white  text-black">Email ID</h6>
                            <a href="mailto:asksamuraidoors@gmail.com">
                                <span class="hover:pl-2 hover:transition duration-300 ease-out inline-block">asksamuraidoors&#64;gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://www.spaceinteriormanagementandsolution.com" class="hover:underline">Space Interior Management and Solution</a>. All Rights Reserved </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/profile.php?id=61558450780755" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <img class="w-8 h-8" src="https://img.icons8.com/color/96/facebook-new.png" alt="facebook-new"/>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://www.instagram.com/samurai_doors_/?hl=en" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <img class="w-8 h-8" src="https://img.icons8.com/fluency/96/instagram-new.png" alt="instagram-new"/>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="https://www.linkedin.com/company/samurai-doors" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <img class="w-8 h-8" src="https://img.icons8.com/color/96/linkedin.png" alt="linkedin"/>
                    <span class="sr-only">LinkedIn page</span>
                </a>
                <a href="https://x.com/samuraidoors" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <img class="w-8 h-8" src="https://img.icons8.com/material-outlined/96/twitterx--v2.png" alt="twitterx--v2"/>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="https://wa.me/9819441877" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <img class="w-8 h-8" src="https://img.icons8.com/color/96/whatsapp--v1.png" alt="whatsapp--v1"/>
                </a>
            </div>
        </div>
    </div>
</footer>
