li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 17px;
  }
  
 li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: brown;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
 li a:hover::before {
    width: 100%;
    left: 0;
  }

  @media (max-width: 767px) {
    .social-icons {
      display: none;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    .show-social-icons .social-icons {
      display: flex;
    }
  }
  
