<app-navbar></app-navbar>

<div class="flex flex-col items-center justify-center pt-0 pb-4 min-h-screen">
    <div class="flex items-center justify-center">
        <img src="../../assets/safety door.png" alt="safety doors" class="mb-8">
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
        Things to keep in mind while buying <span class="underline underline-offset-3 decoration-8 decoration-yellow-500 dark:decoration-yellow-600">New Main Door</span>
    </h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 text-center pl-5 pr-5">
        When buying a new main door for your home, several important factors should be considered to ensure you choose the right door that meets your needs, preferences, and the requirements of your home. Here are some key things to keep in mind:
    </p>

    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">1.Material</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Main doors are available in various materials such as wood, steel, fiberglass, and composite. Consider factors like durability, maintenance requirements, security, and aesthetics when selecting the material.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">2.Security Features</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Prioritize security by choosing a door with features like robust locks, deadbolts, reinforced frames, and impact-resistant materials to enhance protection against intruders.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">3.Aesthetics and Style</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Select a door that complements the architectural style and design of your home. Consider options such as paneling, glass inserts, decorative accents, and finishes that enhance curb appeal and match your home's aesthetic.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">4:Durability and Weather Resistance</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Ensure the door is resistant to harsh weather conditions, such as rain, wind, sunlight, and temperature fluctuations. Opt for materials and finishes that are durable and weather-resistant to prevent warping, rotting, or fading over time.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">5.Insulation and Energy Efficiency</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Choose a door with proper insulation properties to improve energy efficiency and maintain indoor comfort. Look for features like weatherstripping, insulated cores, and energy-efficient glazing to minimize heat loss or gain.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">6.Size and Fit</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Measure the dimensions of your door frame accurately to ensure the new door fits perfectly. Consider factors like swing direction, clearance space, and any obstructions that may affect installation.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">7.Maintenance Requirements</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Evaluate the maintenance needs of different door materials and finishes. Choose a low-maintenance option that suits your lifestyle and preferences to avoid frequent upkeep and repairs.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">8.Budget</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Set a budget for your new door purchase and consider the overall cost, including installation expenses, hardware, and any additional features or customization options. Balance your budget with quality and features to get the best value for your investment.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">9.Warranty and Service</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Check the warranty coverage offered by the manufacturer or retailer, including terms and conditions, to ensure protection against defects or issues. Also, inquire about installation services and after-sales support for maintenance or repairs.</p>
    </div>
    <div class="flex flex-col p-10">     
        <h1 class="text-4xl font-extrabold dark:text-white">10.Regulations and Building Codes</h1>   
        <p class="mb-3 text-2xl text-gray-500 dark:text-gray-400">Ensure compliance with local building codes, regulations, and homeowners' association guidelines when selecting a new main door. Consider factors like fire safety, accessibility requirements, and permitted materials or designs.</p>
    </div>
</div>

<app-footer></app-footer>
