<app-navbar></app-navbar>


<nav class="flex justify-center mt-8" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <a routerLink="/" routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="inline-flex items-center text-lg font-medium text-gray-700 hover:text-yellow-600 dark:text-gray-400 dark:hover:text-white">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
          </svg>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a routerLink="/bathroomdoors"  routerLinkActive="active" (click)="reloadPageAfterInterval(100)"  class="ms-1 text-lg font-medium text-gray-700 hover:text-yellow-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Bathroom Doors</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-lg font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{productName}}-{{productId}}</span>
        </div>
      </li>
    </ol>
  </nav>

  
  
  <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">{{productName}}-{{productId}}</h1>

            <p class="max-w-2xl mb-6 font-normal text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                Peaceful Bathroom Doors: Your Relaxing Gateway
              </p>
           
            <a href="{{walink}}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Speak to our experts
            </a> 
        </div>
        <div class="lg:block lg:col-span-5 lg:flex">
            <img [src]="productImage" alt="mockup">
        </div>                
    </div>
</section>
    

<div class="flex items-center justify-center p-8 m-8">
  <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    <h3 class="text-3xl font-bold dark:text-white">Product Specification</h3>

      <div class="flex flex-col pb-1">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Door Size</dt>
          <dd class="text-lg font-semibold">{{productSize}}</dd>
      </div>
      <div class="flex flex-col py-1">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Door Weight</dt>
          <dd class="text-lg font-semibold">{{productWeight}}</dd>
      </div>
      <div class="flex flex-col pt-1">
          <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Material</dt>
          <dd class="text-lg font-semibold">{{productMaterial}}</dd>
      </div>
      <div class="flex flex-col pt-1">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Type</dt>
        <dd class="text-lg font-semibold">{{productType}}</dd>
    </div>
    <div class="flex flex-col pt-1">
      <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Polish</dt>
      <dd class="text-lg font-semibold">{{productPolish}}</dd>
  </div>
  <div class="flex flex-col pt-1">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Accessories</dt>
    <dd class="text-lg font-semibold">{{productAccessories}}</dd>
</div>
  </dl>
  <img  [src]="productImage2" alt="mockup">
</div>

<app-footer></app-footer>
