<app-navbar></app-navbar>

<!-- Main Content Section -->
<div class="bg-white text-gray-800">
  <div class="flex items-center justify-center">
    <img src="../../assets/door-guide.png" alt="safety doors" class="mb-8 w-1/2"> <!-- Adjust width to 50% -->
  </div>
  
  <!-- Introduction Section -->
  <section class="p-4 md:p-8">
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      The Architectural and Specialist Door Manufacturers Association was founded in 1990 to represent the custom-made door industry. One of its objectives is the promotion of best practices in the manufacture and installation of the industry’s products.
      This guidance paper is intended to assist in maintaining a trouble-free door installation for the lifetime of the building. Another guidance paper dealing with installation of custom-made doors is also available.
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      For comprehensive guidance on timber fire doors, see ASDMA’s ‘Best Practice Guide to Timber Fire Doors’, which is available from the Association’s secretariat.
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      The definition of ‘door’ adopted by ASDMA reflects the definition given in Approved Document B of the Building Regulations (England and Wales) regarding fire doors:
    </p>
  </section>
  
  <!-- Section 1: Handover -->
  <section class="p-4 md:p-8">
    <h1 class="text-xl md:text-2xl font-bold mb-4">1. Handover</h1>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      The installation process will usually conclude with an inspection and handover procedure when the installation at the point of delivery from the responsible contractor is verified as compliant with any certification and is operating perfectly.
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      A maintenance period normally follows during which the responsible contractor will correct defects that are his responsibility. Beyond this, ongoing maintenance of the installation is the responsibility of the owner or user of the premises.
    </p>
  </section>

  <!-- Section 2: Specialist Services -->
  <section class="p-4 md:p-8">
    <h2 class="text-xl md:text-2xl font-bold mb-4">2. Specialist Services</h2>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Because door installation and maintenance is a specialized trade, it may be considered advantageous to employ a specialist contractor to carry out a planned routine combining the inspection and corrective action procedure.
    </p>
  </section>

  <!-- Section 3: Priority Actions -->
  <section class="p-4 md:p-8">
    <h2 class="text-xl md:text-2xl font-bold mb-4">3. Priority Actions</h2>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Priority should be given to:
    </p>
    <ul class="list-disc pl-8 mb-4 text-base md:text-lg">
      <li>The continued correct operation of the doors.</li>
      <li>The preservation of operating gap sizes within the range described in test or assessment certification relating to the installed fire door.</li>
      <li>The preservation or replacement of elements of the door that may be subject to degradation through wear or damage, e.g.:
        <ul class="list-disc pl-8">
          <li>Glass and hardware.</li>
          <li>Intumescent, acoustic and smoke seals.</li>
          <li>Intumescent coatings such as to glazing beads.</li>
          <li>Applied finishes</li>
        </ul>
      </li>
    </ul>

    <h3 class="text-lg md:text-xl font-semibold mb-4">3.1 Pre-emptive Inspection Programme</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      The objective must be to pre-empt malfunction and defects through a planned inspection programme.
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        Corrective action is likely to be required more frequently during the
        early life of an installation. The small movements that occur in the
        building fabric at this stage can affect gap sizes. The presence of
        smoke or acoustic seals can make door operation even more
        sensitive to small changes in gap size.
    </p>

    <h3 class="text-lg md:text-xl font-semibold mb-4">3.2 Reporting of malfunctions</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        It is also vital to the quality of the installation that building users
        report malfunctions immediately and that there is a system that
        provides for recording these and for prompt corrective action
    </p>
    
  </section>

  <!-- Section 4: Damage Prevention -->
  <section class="p-4 md:p-8">
    <h2 class="text-xl md:text-2xl font-bold mb-4">4. Damage Prevention</h2>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        Much damage to doors is caused by abusive use of the building.
        This may be unintentional and result from inadequate planning or
        briefing of personnel on the correct operation of the door system.
        Those who use equipment that is potentially damage-causing can
        be trained and encouraged to prevent this.
    </p>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        Personnel using the building can make an important contribution to
maintaining the quality and the safety of the door installation if they
are encouraged to use the installation in a caring manner.
      </p>
    <h3 class="text-lg md:text-xl font-semibold mb-4">4.1 Protective Measures</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
        Planning the operation and protection of doors will play an
important part in the avoidance of damage to the door installation.
The following measures will reduce the more predictable causes of
damage:
      </p>
      <table class="w-full border border-gray-300 mb-8 text-base md:text-lg leading-relaxed">
        <thead class="bg-gray-200">
          <tr>
            <th class="border border-gray-300 p-2">Type of damage</th>
            <th class="border border-gray-300 p-2">Preventative measure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-gray-300 p-2">Damage caused by objects being wheeled or dragged through the doorway</td>
            <td class="border border-gray-300 p-2">
              The use of a hold open device with doors on frequently trafficked corridors linked with a fire detection system, if applicable.<br>
              Delayed action closers set to allow for the passage of encumbered users and wheeled items.
            </td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-2">Damage to faces and the leading edge of door leaves,Broken lippings, damaged smoke and intumescent seals</td>
            <td class="border border-gray-300 p-2">Delayed action closers set to allow
                for the passage of encumbered
                users and wheeled items.</td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-2">Damage caused by impact by wheeled equipment:</td>
            <td class="border border-gray-300 p-2">Rails or guards that will deflect the equipment.</td>
          </tr>
          
          <tr>
            <td class="border border-gray-300 p-2">Dislocation of doorframe fixings</td>
            <td class="border border-gray-300 p-2">Recesses in corridor walls within which held-open door leaves will be protected from edge damage.</td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-2">Damage to doorframes, door faces and edges</td>
            <td class="border border-gray-300 p-2">Fit buffers to equipment.</td>
          </tr>
        </tbody>
      </table>
      
  </section>

  <!-- Section 5: Troubleshooting Door Malfunction -->
  <section class="p-4 md:p-8">
    <h2 class="text-xl md:text-2xl font-bold mb-4">5. Troubleshooting Door Malfunction</h2>
    <p class="mb-4 text-base md:text-lg leading-relaxed">
      Malfunctions arise from various causes. Prompt correction is essential to minimize damage and maintain safety.
    </p>

    <h3 class="text-lg md:text-xl font-semibold mb-4">5.1 Binding</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">The most common malfunction is a loss of operating gaps thatresult in door leaves sticking or failing to close correctly. It may bethat the leading edge binds on the doorframe or at meeting edgesof double leaf doors. Often the bottom edge of a door leaf will bindon the floor.
      </p>
    <table class="w-full border border-gray-300 mb-8 text-base md:text-lg leading-relaxed">
      <thead class="bg-gray-200">
        <tr>
          <th class="border border-gray-300 p-2">Defect</th>
          <th class="border border-gray-300 p-2">Possible Cause</th>
          <th class="border border-gray-300 p-2">Remedial Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-2">Swelling of door components due to moisture intake</td>
          <td class="border border-gray-300 p-2">Moisture content in the building is too high.</td>
          <td class="border border-gray-300 p-2">Reduce humidity. Do not adjust doors unless necessary after m/c is stable at 12%.</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Hinges have worked loose allowing door leaf to fall away from hanging jamb.</td>
          <td class="border border-gray-300 p-2">Stressing caused by racking or blocks put in hinge side rebate to hold doors open. Wrong size screw fixings. Not all screw positions have been used.</td>
          <td class="border border-gray-300 p-2">Remove obstructions. Tighten fixing screws. If necessary increase screw size. Replace if defective. Provide restraint to</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Hinges have worn allowing door leaf to drop.</td>
          <td class="border border-gray-300 p-2">Hinges are not the correct BS EN 1935 class for the application.</td>
          <td class="border border-gray-300 p-2">Replace with correct class of hinge.</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Doorframe jambs have spread at the bottom allowing the leading edge of the door leaf/leaves to drop.</td>
          <td class="border border-gray-300 p-2">Often door leaf weight causes compression of packing or stud due to the effect of lateral load at the bottom hinge position.</td>
          <td class="border border-gray-300 p-2">Check that the background is stable and that it will support the lateral load. Re-pack at fixing positions particularly at the bottom until the door leaves hang correctly. Re-fix doorframe.</td>
        </tr>
        <tr>
            <td class="border border-gray-300 p-2">Doorframe fixings
                are loose.</td>
            <td class="border border-gray-300 p-2">Racking exerting leverage on doorframe fixings. Overdrilling or breakout of fixing positions. Impact from wheeled loads.</td>
            <td class="border border-gray-300 p-2">Re-pack and correct the hang of the door leaf. Tighten fixing screws and if necessary replace failed plugs or make new fixing positions. Provide restraint to prevent racking. Provide protective rails/guards to deflect wheeled traffic away from the doorframe.</td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-2">Door leaf binding
                on the floor.</td>
            <td class="border border-gray-300 p-2">Floor covering may be over planned thickness. Possible high spots in screed within the arc of the door leaf.</td>
            <td class="border border-gray-300 p-2">Re-fix the door having packed up under the doorframe jambs.</td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-2">Binding and none of the previous reasons apply.</td>
            <td class="border border-gray-300 p-2">It is possible that the edge gap has been set too fine.</td>
            <td class="border border-gray-300 p-2">Adjust the gap by deepening or moving the hinge recess/es in the doorframe or door leaf.</td>
          </tr>
      </tbody>
    </table>

    <h3 class="text-lg md:text-xl font-semibold mb-4">5.2 Oversize gaps</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">Operating gaps may become enlarged and may exceed the range permitted by specifications and the test or assessment certification.</p>
    <table class="w-full border border-gray-300 mb-8 text-base md:text-lg leading-relaxed">
      <thead class="bg-gray-200">
        <tr>
          <th class="border border-gray-300 p-2">Defect</th>
          <th class="border border-gray-300 p-2">Possible Cause</th>
          <th class="border border-gray-300 p-2">Remedial Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-2">When no smoke or acoustic seal is present: Gaps in excess of range permitted by certification.</td>
          <td class="border border-gray-300 p-2">Shrinkage of door components, packings and timber grounds, studs or subframes.</td>
          <td class="border border-gray-300 p-2">Pack out behind hinges. If necessary re-pack and refix doorframe. Re-lip (by manufacturer) and replace seals.</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">When smoke or acoustic seal is present: Any visible gap.</td>
          <td class="border border-gray-300 p-2">Shrinkage or disturbance caused by impact. Seals have worn or have become permanently compressed.</td>
          <td class="border border-gray-300 p-2">Pack out behind hinges. If necessary re-pack and refix doorframe. Replace seals with new or larger.</td>
        </tr>
       
     </table>
    <h3 class="text-lg md:text-xl font-semibold mb-4">5.3 Failure to close</h3>
    <p class="mb-4 text-base md:text-lg leading-relaxed">In addition to closing failure caused by loss of operating gaps,other defects can develop or become apparent:</p>
    <table class="w-full border border-gray-300 mb-8 text-base md:text-lg leading-relaxed">
      <thead class="bg-gray-200">
        <tr>
          <th class="border border-gray-300 p-2">Defect</th>
          <th class="border border-gray-300 p-2">Possible Cause</th>
          <th class="border border-gray-300 p-2">Remedial Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-2">Hinge binding resulting in the door leaf tending to spring open.</td>
          <td class="border border-gray-300 p-2">Hinges have not been sufficiently recessed. The door stop is too tight on the closing face of the door leaf at the hinged edge.</td>
          <td class="border border-gray-300 p-2">Modify fitting of hinges.Adjust position ofdoorstops.Reset hinge positions whendoorframe has an integraldoorstop.</td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-2">Door leaves twisted, bowed or cupped.</td>
          <td class="border border-gray-300 p-2">Twist caused by holding device that is not level with the closing force. Hygrothermal differences on faces.</td>
          <td class="border border-gray-300 p-2">Remove the cause; the door leaf may return to a flat condition. If not, replacement may be necessary. Reduce the effect by moving hinge positions slightly.</td>
        </tr>
       </table>
 



<app-footer></app-footer>
